.sticky
  md-toolbar.md-primary
    .md-toolbar-tools
      h2(ng-bind-html="::$root.locale.views.dashboard.title | trust")
      //- Field Coaching Reports Data
      div(flex)
      div(ng-if="Users.active.group.level > 1 || (Users.loggedIn && Users.loggedIn.group.level > 1)")
        md-button.md-raised.change-view(ng-click="Dialogs.changeView($event)" aria-label="{{::$root.locale.views.dashboard.changeView | trust}}")
          span(ng-bind-html="::$root.locale.views.dashboard.changeView | trust")
          //- Change View
      div(ng-if="Users.active.group.level > 2|| (Users.loggedIn && Users.loggedIn.group.level > 2)")
        md-button.md-raised.export(ng-click="Dialogs.exportData($event)" aria-label="{{::$root.locale.views.dashboard.export | trust}}" ng-disabled="true")
          span(ng-bind-html="::$root.locale.views.dashboard.export | trust")
          //- Export Data

  md-content(flex layout="row" layout-padding)
    header.top(layout="row" layout-align="start center")

      div(layout="row" layout-align="start center")
        span.breadcrumbs(ng-if="Users.loggedIn && Users.loggedIn.group.level == 2" ng-click="$root.Users.resetToLoggedIn()")
          | {{ $root.Districts.lookupByManagerId[ Users.loggedIn.id ].name }}
          md-icon(md-svg-icon='images/md-svg/chevron_left.svg' md-menu-align-target)
        span.breadcrumbs(ng-if="Users.loggedIn && Users.loggedIn.group.level == 3" ng-click="$root.Users.resetToLoggedIn()")
          span(ng-if="$root.defaults.hasRegions") {{ $root.Regions.lookupByManagerId[ Users.loggedIn.id ].name }}
          span(ng-if="!$root.defaults.hasRegions") {{ $root.defaults.activeTeam.name }}
          md-icon(md-svg-icon='images/md-svg/chevron_left.svg' md-menu-align-target)
        span.breadcrumbs(ng-if="Users.loggedIn && Users.loggedIn.group.level == 4" ng-click="$root.Users.resetToLoggedIn()")
          | {{ $root.defaults.activeTeam.name }}
          md-icon(md-svg-icon='images/md-svg/chevron_left.svg' md-menu-align-target)

      span(ng-if="Users.active.group.level == 1") {{ $root.Users.active.email }}
      span(ng-if="Users.active.group.level == 2") {{ $root.Districts.lookupByManagerId[Users.active.id].name }}
      span(ng-if="Users.active.group.level == 3 && !defaults.hasRegions") {{ $root.defaults.activeTeam.name }}
      span(ng-if="Users.active.group.level == 3 && defaults.hasRegions") {{ $root.Regions.lookupByManagerId[Users.active.id].name }}
      span(ng-if="Users.active.group.level == 4") {{ $root.defaults.activeTeam.name }}
    div(flex)
    div(flex layout="row" layout-align="end center" class="date-picker")
      md-date-range.no-arrow(
        ng-model='$root.Data.selectedRange'
        md-on-select='$root.Data.onSelect()'
        date-start='$root.Data.selectedRange.dateStart'
        date-end='$root.Data.selectedRange.dateEnd'
        placeholder='{{$root.locale.views.dashboard.filter}}'
        auto-confirm="true"
        show-template='false'
      )
      md-button.md-icon-button.clear-filter(ng-if="$root.userDefinedRange" ng-click='$root.Data.clearDateRange($event)' aria-label="{{::$root.locale.global.clearFilter | trust}}" layout="row" layout-align="center center")
        md-icon(md-svg-icon="images/md-svg/block.svg")
      //- md-button.md-raised.clear-filter(ng-if="userDefinedRange" ng-click='clear($event)') Clear Range


  //- ================================================================================================

#dashboard(ng-class="{ 'rbl-view' : !Users.superUser }")

  .md-content(ng-if="Users.active.group.level > 1" flex="100" layout="row" layout-align="center center")
    md-input-container.data-set(flex="20")
      label Select a Data Set
      md-select(ng-model="selectedDataSet" ng-change="setDataSet(selectedDataSet)")
        md-option(ng-repeat="set in dataSets" ng-value="set")
          span.initials.dropdown(ng-if="set.id" ng-class="['initial-' + set.initials]") {{ set.initials }}
          | {{ set.dataSetLabel }} Data

  .md-content.component-container(layout="column" layout-padding)

    //---------------------------------------------------------------------

    div.sales-view(ng-if="Users.active.group.level == 1")

      //- FCR Requiring Your Review
      employee-review(data-title="{{::$root.locale.views.dashboard.employeeReview | trust}}")

      //- At a Glance
      glance(data-title="{{::$root.locale.views.dashboard.glance | trust}}")

      //- All Completed FCRs
      completed(data-title="{{::$root.locale.views.dashboard.fcrsCompleted | trust}}")

      //- At a Glance
      competencies(data-title="Activity Against Competencies")

      //- Section Proficiency: Integrity (Compliance)
      integrity(data-title="Jazz Pharmaceuticals Compliance" data-min-question="1" data-max-question="1" height="100")

      //- Section Proficiency: Integrity (Compliance)
      expectations(data-title="Territory Management / Role Expectations" data-min-question="2" data-max-question="2" height="100")

      //- Top 5 Performers
      open-action-items(data-title="Open Action Items" data-sort="rating" data-pagination="hide")

    //---------------------------------------------------------------------

    div.manager-view(ng-if="Users.active.group.level > 1")

      //- At a Glance
      glance(data-title="{{::$root.locale.views.dashboard.glance | trust}}")

      //- At a Glance
      incompletes(data-title="In Review FCRs to Date")

      //- All Employees
      evaluatees(data-title="{{::$root.locale.views.dashboard.employees | trust}}" ng-if="Users.active.group.level > 2")

      //- All Evaluators
      evaluators(data-title="{{::$root.locale.views.dashboard.evaluators | trust}}" ng-if="Users.active.group.level > 2")

      //- At a Glance
      competencies(data-title="Activity Against Competencies")

      //- Section Proficiency: Integrity (Compliance)
      proficiency-section(data-title="Jazz Pharmaceuticals Compliance" data-min-question="1" data-max-question="1" height="130" data-section-num="5")

      //- Section Proficiency: Integrity (Compliance)
      proficiency-section(data-title="Territory Management / Role Expectations" data-min-question="2" data-max-question="2" height="130" data-section-num="5")

      //- Top 5 Performers
      open-action-items(data-title="Open Action Items" data-sort="rating" data-pagination="hide")

//- ================================================================================================

.disclaimer.dash(ng-bind-html="::$root.locale.global.disclaimer | trust")
//- Confidential purposes only&ndash;not for promotional use

//- ================================================================================================

fcr(ng-hide="!( $root.Forms.formOpen || $root.Forms.formListOpen )")

//- ================================================================================================

action-items(ng-hide="!( $root.Forms.actionItemsOpen || $root.Forms.actionItemsListOpen )")

//- ================================================================================================
