section#fcr(layout="column")

  //- ================================================================================================

  header(layout="row")
    span(ng-bind="form.title")

  //- ================================================================================================

  md-content(layout-padding)

    .view-dashboard-fcrs

      .fcr-form(ng-class="{ 'open': $root.Forms.formOpen, 'print': $root.Forms.formPrintable }")

        md-content.form-top(flex layout="row" layout-padding)

          .header.print-only.evaluatee-name(flex="100" layout="row" layout-align="start center")
            span {{ ctrl.data.evaluatee.email }}
          .header.print-only(layout="row" layout-align="end center")
            span(ng-if="ctrl.data.status == 'submitted'" ng-bind-html="::$root.locale.global.inReview | trust")
            //- In Review
            span(ng-if="ctrl.data.status != 'submitted'") {{ ctrl.data.status }}
            | &nbsp;{{ ctrl.data.timestamp | tsFormat }}

          .header(flex="70" layout="row" layout-align="start center")
            span(ng-if="ctrl.data.status == 'submitted'" ng-bind-html="::$root.locale.global.inReview | trust")
            //- In Review
            //- span(ng-if="ctrl.data.status != 'submitted'") {{ ctrl.data.status }}
            span(ng-if="ctrl.data.status == 'completed'" ng-bind-html="::$root.locale.components.fcr.common.completed | trust")
            | &nbsp;{{ ctrl.data.timestamp | tsFormat }}
          div(flex)
          div(flex layout="row" layout-align="end center")
            md-button.md-raised.accept(ng-if="!$root.Users.loggedIn && $root.Users.active.group.level == 1 && ctrl.data.status == 'submitted'" ng-click="$root.Forms.acceptReject($event, 'completed')" ng-bind-html="::$root.locale.components.fcr.common.acceptFCR | trust")
            //- Accept FCR
            md-button.md-raised.reject(ng-if="!$root.Users.loggedIn && $root.Users.active.group.level == 1 && ctrl.data.status == 'submitted'" ng-click="$root.Forms.acceptReject($event, 'rejected')" ng-bind-html="::$root.locale.components.fcr.common.rejectFCR | trust")
            //- Reject FCR
            md-button.md-raised.download(ng-click="$root.Forms.download($root.Forms.selectedFormId)" ng-bind-html="::$root.locale.global.download | trust" aria-label="{{::$root.locale.global.download | trust}}")
            //- Download

        div.form-body-wrapper
          md-content.form-body(flex layout="column" layout-padding)

            //----------------------------------------------------------------------------
            //- First Section

            section(layout="column")
              div(layout="row")
                .start(flex="33" layout="row")
                  md-input-container
                    label(ng-bind-html="::$root.locale.components.fcr.userDetails.fieldRideStart | trust")
                    //- Field Ride Start Date
                    input(value="{{ ctrl.data.fieldRideStart | tsFormat }}" disabled)
                .end(flex="33" layout="row")
                  md-input-container
                    label(ng-bind-html="::$root.locale.components.fcr.userDetails.fieldRideEnd | trust")
                    //- Field Ride End Date
                    input(value="{{ ctrl.data.fieldRideEnd | tsFormat }}" disabled)
                .days(flex="33" layout="row")
                  md-input-container
                    label(ng-bind-html="::$root.locale.components.fcr.userDetails.contactDays | trust")
                    //- Total Contact Days
                    input(value="{{ ctrl.data.daysInField }}" disabled)
              div(layout="row")
                .calls(flex="33" layout="row")
                  md-input-container
                    label(ng-bind-html="::$root.locale.components.fcr.userDetails.lastFCR | trust")
                    //- Date of last FCR
                    input(value="{{ $root.Forms.lastCompletedFCR | tsFormat }}" disabled)
                .last(flex="33" layout="row")
                  md-input-container
                    label(ng-bind-html="::$root.locale.components.fcr.userDetails.activity | trust")
                    //- Total Calls Observed
                    input(value="{{ ctrl.data.activity }}" disabled)

            //----------------------------------------------------------------------------
            //- Alignment to Brand Strategy

            md-divider

            section(layout="column")
              h4(ng-bind-html="::$root.locale.components.fcr.form.sectionA.sectionTitle | trust")

              section(layout="column")
                div(layout="row")
                  .col(flex="33" layout="row")
                    p.field-text
                      content(ng-bind-html="::$root.locale.components.fcr.form.sectionA.data1 | trust")

                  .col(flex="66" layout="row")
                    p.field-text
                      ol
                        li(ng-bind-html="::$root.locale.components.fcr.form.sectionA.competency1 | trust")
                        li(ng-bind-html="::$root.locale.components.fcr.form.sectionA.competency2 | trust")
                        li(ng-bind-html="::$root.locale.components.fcr.form.sectionA.competency3 | trust")

              //- md-table-container
              //-   table(md-table)

              //-     thead(md-head)
              //-       tr(md-row)
              //-         th(md-column)
              //-         th(md-column ng-bind-html="::$root.locale.components.fcr.form.sectionA.data1 | trust")
              //-         //- Times Observed
              //-         th(md-column)
              //-           div.center
              //-             p.medium-type(ng-bind-html="::$root.locale.components.fcr.common.rating1 | trust")
              //-             //- Rating 1-4
              //-             p.small-type(ng-bind-html="::$root.locale.components.fcr.common.rating2 | trust")
              //-             //- Lowest - Highest

              //-     tbody
              //-       tr(md-row)
              //-         td(md-cell ng-bind-html="::$root.locale.components.fcr.form.sectionA.competency1 | trust")
              //-         //- Delivered 24-hour lasting symptom control message AND painted a vivid picture of appropriate adult asthma, including specific symptoms
              //-         td(md-cell)
              //-           span.observed {{ ctrl.data.selectLastingSymptom }}
              //-         td(md-cell): choices(ng-model="ctrl.data.answers[0]")
              //-       tr(md-row)
              //-         td(md-cell ng-bind-html="::$root.locale.components.fcr.form.sectionA.competency2 | trust")
              //-         //- Delivered BOTH coverage & affordability messaging AND engaged HCP about their experience
              //-         td(md-cell)
              //-           span.observed {{ ctrl.data.selectAffordability }}
              //-         td(md-cell): choices(ng-model="ctrl.data.answers[1]")
              //-       tr(md-row ng-if="")
              //-         td(md-cell ng-bind-html="::$root.locale.components.fcr.form.sectionA.competency3 | trust")
              //-         //- Leveraged the strong confidence vs. Symbicort, maintaining a competitive mindset throughout the calls
              //-         td(md-cell)
              //-           span.observed {{ ctrl.data.selectAffordability }}
              //-         td(md-cell): choices(ng-model="ctrl.data.answers[31]")
              //-       tr(md-row)
              //-         td(md-cell ng-bind-html="::$root.locale.components.fcr.form.sectionA.competency4 | trust")
              //-         //- Delivered Action-Oriented Close vs Symbicort
              //-         td(md-cell)
              //-           span.observed {{ ctrl.data.selectSymbicort }}
              //-         td(md-cell): choices(ng-model="ctrl.data.answers[2]")

            //----------------------------------------------------------------------------
            //- Current Sales Performance

            md-divider

            section(layout="column")
              h4(ng-bind-html="::$root.locale.components.fcr.form.sectionB.sectionTitle | trust")
              //- Current Sales Performance Table

              md-table-container
                table(md-table)

                  thead(md-head)
                    tr(md-row)
                      th(md-column)
                      th(md-column ng-bind-html="::$root.locale.components.fcr.form.sectionB.table.quarter | trust")
                      th(md-column ng-bind-html="::$root.locale.components.fcr.form.sectionB.table.metric | trust")
                      th(md-column ng-bind-html="::$root.locale.components.fcr.form.sectionB.table.actual | trust")
                      th(md-column ng-bind-html="::$root.locale.components.fcr.form.sectionB.table.goal | trust")
                      th(md-column ng-bind-html="::$root.locale.components.fcr.form.sectionB.table.territory | trust")
                      th(md-column ng-bind-html="::$root.locale.components.fcr.form.sectionB.table.region | trust")

                  tbody
                    tr(md-row ng-repeat="form in $root.Data.forms.byEvaluateeByStatus[ $root.Forms.selectedUserEmail ].submitted | filter: $root.Forms.selectedUserEmail")
                      td(md-cell) {{ ctrl.data.product | uppercase }}
                      td(md-cell) {{ ctrl.data.quarter | uppercase }}
                      td(md-cell) {{ ctrl.data.metric | uppercase }}
                      td(md-cell) {{ ctrl.data.actual }}
                      td(md-cell) {{ ctrl.data.goal }}
                      td(md-cell) {{ ctrl.data.territoryattainment }}
                      td(md-cell) {{ ctrl.data.regionattainment }}


            //----------------------------------------------------------------------------
            //- Performance: Sales Performance Factors

            md-divider

            section(layout="column")
              h4(ng-bind-html="::$root.locale.components.fcr.form.sectionC.sectionTitle | trust")

              section(layout="column")
                div(layout="row")
                  .col(flex="33" layout="row")
                    p.field-text
                      content(ng-bind-html="::$root.locale.components.fcr.form.sectionC.data1 | trust")

                  .col(flex="66" layout="row")
                    p.field-text
                      ol
                        li(ng-bind-html="::$root.locale.components.fcr.form.sectionC.competency1 | trust")
                        li(ng-bind-html="::$root.locale.components.fcr.form.sectionC.competency2 | trust")
                        li(ng-bind-html="::$root.locale.components.fcr.form.sectionC.competency3 | trust")

                h5(ng-bind-html="::$root.locale.components.fcr.common.comments | trust")
                //- Comments
                md-content.comments(layout-padding) {{ ctrl.data.comments[0] }}
                  span.no-data(ng-if="!ctrl.data.comments[0]" ng-bind-html="::$root.locale.global.noComments | trust")
            
            md-divider

            section(layout="column")
              h4(ng-bind-html="::$root.locale.components.fcr.form.sectionD.sectionTitle | trust")
              //- Competency: Proficiency Demonstration

            .container#competency
              //- selling skills
              .row.subsection#subsection1(ng-if="ctrl.data.subsections.subsection1 == true")
                .col.col-sm-12(style="margin-bottom: 20px;")
                  .subsection-header
                    input(type="checkbox" disabled)
                    span(class="checkmark")
                    h4(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection1.title | trust")

                .subs-container

                  //- -------------------------------------------------------------------------
                  //- Pre-Call Planning
                  //- -------------------------------------------------------------------------
                  .row.subs#subs1(ng-if="ctrl.data.subs.subs1 == true" )
                    .col-sm-12
                      .subs-header
                        input(type="checkbox" disabled)
                        span(class="checkmark")
                        h4(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection1.subs.sub1.title | trust")
                      .subs-content
                        p(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection1.subs.sub1.text | trust")
                        .row.comments
                          h5(ng-bind-html="::$root.locale.components.fcr.common.comments | trust")
                          //- Comments

                          md-content.comments(layout-padding) {{ ctrl.data.comments[1] }}
                            span.no-data(ng-if="!ctrl.data.comments[1]" ng-bind-html="::$root.locale.global.noComments | trust")

                  //- -------------------------------------------------------------------------
                  //- Opening/Establishes Rapport
                  //- -------------------------------------------------------------------------
                  .row.subs#subs2(ng-if="ctrl.data.subs.subs2 == true" )
                    .col-sm-12
                      .subs-header
                        input(type="checkbox" disabled)
                        span(class="checkmark")
                        h4(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection1.subs.sub2.title | trust")
                      .subs-content
                        p(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection1.subs.sub2.text | trust")
                        .row.comments
                          h5(ng-bind-html="::$root.locale.components.fcr.common.comments | trust")
                          //- Comments

                          md-content.comments(layout-padding) {{ ctrl.data.comments[2] }}
                            span.no-data(ng-if="!ctrl.data.comments[2]" ng-bind-html="::$root.locale.global.noComments | trust")

                  //- -------------------------------------------------------------------------
                  //- Effective Questioning
                  //- -------------------------------------------------------------------------
                  .row.subs#subs3(ng-if="ctrl.data.subs.subs3 == true" )
                    .col-sm-12
                      .subs-header
                        input(type="checkbox" disabled)
                        span(class="checkmark")
                        h4(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection1.subs.sub3.title | trust")
                      .subs-content
                        p(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection1.subs.sub3.text | trust")
                        .row.comments
                          h5(ng-bind-html="::$root.locale.components.fcr.common.comments | trust")
                          //- Comments

                          md-content.comments(layout-padding) {{ ctrl.data.comments[3] }}
                            span.no-data(ng-if="!ctrl.data.comments[3]" ng-bind-html="::$root.locale.global.noComments | trust")

                  //- -------------------------------------------------------------------------
                  //- Product Positioning
                  //- -------------------------------------------------------------------------
                  .row.subs#subs4(ng-if="ctrl.data.subs.subs4 == true" )
                    .col-sm-12
                      .subs-header
                        input(type="checkbox" disabled)
                        span(class="checkmark")
                        h4(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection1.subs.sub4.title | trust")
                      .subs-content
                        p(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection1.subs.sub4.text | trust")
                        .row.comments
                          h5(ng-bind-html="::$root.locale.components.fcr.common.comments | trust")
                          //- Comments

                          md-content.comments(layout-padding) {{ ctrl.data.comments[4] }}
                            span.no-data(ng-if="!ctrl.data.comments[4]" ng-bind-html="::$root.locale.global.noComments | trust")

                  //- -------------------------------------------------------------------------
                  //- Handling Objections
                  //- -------------------------------------------------------------------------
                  .row.subs#subs5(ng-if="ctrl.data.subs.subs5 == true" )
                    .col-sm-12
                      .subs-header
                        input(type="checkbox" disabled)
                        span(class="checkmark")
                        h4(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection1.subs.sub5.title | trust")
                      .subs-content
                        p(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection1.subs.sub5.text | trust")
                        .row.comments
                          h5(ng-bind-html="::$root.locale.components.fcr.common.comments | trust")
                          //- Comments

                          md-content.comments(layout-padding) {{ ctrl.data.comments[5] }}
                            span.no-data(ng-if="!ctrl.data.comments[5]" ng-bind-html="::$root.locale.global.noComments | trust")

                  //- -------------------------------------------------------------------------
                  //- Gaining Commitment
                  //- -------------------------------------------------------------------------
                  .row.subs#subs6(ng-if="ctrl.data.subs.subs6 == true" )
                    .col-sm-12
                      .subs-header
                        input(type="checkbox" disabled)
                        span(class="checkmark")
                        h4(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection1.subs.sub6.title | trust")
                      .subs-content
                        p(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection1.subs.sub6.text | trust")
                        .row.comments
                          h5(ng-bind-html="::$root.locale.components.fcr.common.comments | trust")
                          //- Comments

                          md-content.comments(layout-padding) {{ ctrl.data.comments[6] }}
                            span.no-data(ng-if="!ctrl.data.comments[6]" ng-bind-html="::$root.locale.global.noComments | trust")

                  //- -------------------------------------------------------------------------
                  //- Post-Call Analysis
                  //- -------------------------------------------------------------------------
                  .row.subs#subs7(ng-if="ctrl.data.subs.subs7 == true" )
                    .col-sm-12
                      .subs-header
                        input(type="checkbox" disabled)
                        span(class="checkmark")
                        h4(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection1.subs.sub7.title | trust")
                      .subs-content
                        p(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection1.subs.sub7.text | trust")
                        .row.comments
                          h5(ng-bind-html="::$root.locale.components.fcr.common.comments | trust")
                          //- Comments

                          md-content.comments(layout-padding) {{ ctrl.data.comments[7] }}
                            span.no-data(ng-if="!ctrl.data.comments[7]" ng-bind-html="::$root.locale.global.noComments | trust")

              //- -------------------------------------------------------------------------
              //- Product / Scientific Knowledge
              //- -------------------------------------------------------------------------
              .row.subsection#subsection2(ng-if="ctrl.data.subsections.subsection2 == true")
                .col.col-sm-12(style="margin-bottom: 20px;")
                  .subsection-header
                    input(type="checkbox" disabled)
                    span(class="checkmark")
                    h4(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection2.title | trust")

                .subs-container
                  .row
                    .subs-content
                      p(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection2.text | trust")
                      .row.comments
                        h5(ng-bind-html="::$root.locale.components.fcr.common.comments | trust")
                        //- Comments

                        md-content.comments(layout-padding) {{ ctrl.data.comments[8] }}
                          span.no-data(ng-if="!ctrl.data.comments[8]" ng-bind-html="::$root.locale.global.noComments | trust")

              //- -------------------------------------------------------------------------
              //- Business Analytics and Planning
              //- -------------------------------------------------------------------------
              .row.subsection#subsection3(ng-if="ctrl.data.subsections.subsection3 == true")
                .col.col-sm-12(style="margin-bottom: 20px;")
                  .subsection-header
                    input(type="checkbox" disabled)
                    span(class="checkmark")
                    h4(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection3.title | trust")

                .subs-container
                  .row
                    .subs-content
                      p(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection3.text | trust")
                      .row.comments
                        h5(ng-bind-html="::$root.locale.components.fcr.common.comments | trust")
                        //- Comments

                        md-content.comments(layout-padding) {{ ctrl.data.comments[9] }}
                          span.no-data(ng-if="!ctrl.data.comments[9]" ng-bind-html="::$root.locale.global.noComments | trust")
              
              //- -------------------------------------------------------------------------
              //- Team and Leadership Effectivenes
              //- -------------------------------------------------------------------------
              .row.subsection#subsection4(ng-if="ctrl.data.subsections.subsection4 == true")
                .col.col-sm-12(style="margin-bottom: 20px;")
                  .subsection-header
                    input(type="checkbox" disabled)
                    span(class="checkmark")
                    h4(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection4.title | trust")

                .subs-container
                  .row
                    .subs-content
                      p(ng-bind-html="::$root.locale.components.fcr.form.sectionD.subSection4.text | trust")
                      .row.comments
                        h5(ng-bind-html="::$root.locale.components.fcr.common.comments | trust")
                        //- Comments

                        md-content.comments(layout-padding) {{ ctrl.data.comments[10] }}
                          span.no-data(ng-if="!ctrl.data.comments[10]" ng-bind-html="::$root.locale.global.noComments | trust")


            //----------------------------------------------------------------------------
            //- Compliance

            md-divider

            section(layout="column")
              h4(ng-bind-html="::$root.locale.components.fcr.form.sectionE.sectionTitle | trust")
              //- Integrity

              md-list

                md-list-item(layout="row")
                  span(ng-bind-html="::$root.locale.components.fcr.form.sectionE.question | trust")
                  //- Compliance
                  span(flex)
                  choices.yes-no(ng-model="ctrl.data.answers[0]")

              h5(ng-bind-html="::$root.locale.components.fcr.common.comments | trust")
              //- Comments

              md-content.comments(layout-padding) {{ ctrl.data.comments[11] }}
                span.no-data(ng-if="!ctrl.data.comments[11]" ng-bind-html="::$root.locale.global.noComments | trust")
                //- No Comments

            //----------------------------------------------------------------------------
            //- Expectations

            md-divider

            section(layout="column")
              h4(ng-bind-html="::$root.locale.components.fcr.form.sectionF.sectionTitle | trust")
              //- Integrity

              md-list

                md-list-item(layout="row")
                  span(ng-bind-html="::$root.locale.components.fcr.form.sectionF.question | trust")
                  //- Compliance
                  span(flex)
                  choices.yes-no(ng-model="ctrl.data.answers[1]")

              h5(ng-bind-html="::$root.locale.components.fcr.common.comments | trust")
              //- Comments

              md-content.comments(layout-padding) {{ ctrl.data.comments[12] }}
                span.no-data(ng-if="!ctrl.data.comments[12]" ng-bind-html="::$root.locale.global.noComments | trust")
                //- No Comments

            //----------------------------------------------------------------------------
            //- Action Plans

            md-divider

            section(layout="column")
              h4(ng-bind-html="::$root.locale.components.fcr.form.sectionG.sectionTitle | trust")
              //- Action Plans


      .manager-submissions(ng-class="{ 'open': $root.Forms.formListOpen, 'shadow': $root.Forms.formOpen }")

        header(flex layout="row")
          .details
            .name {{ $root.Forms.selectedUserEmail }}
            .submission
              span {{ $root.Data.forms.byEvaluateeByStatus[ $root.Forms.selectedUserEmail ].completed.length }}&nbsp;
              span(ng-bind-html="::$root.locale.components.fcr.common.completedFCRs | trust")
              //- Completed FCRs
          div(flex)
          .close(ng-click="$root.Forms.close()" ng-bind-html="::$root.locale.global.close | trust")
          //- Close

        md-divider

        div.scroll
          md-list.forms
            md-list-item(
              ng-repeat="form in $root.Data.forms.byEvaluateeByStatus[ $root.Forms.selectedUserEmail ].submitted"
              ng-click="$root.Forms.openForm(form.payload.evaluatee.id, form.payload.submissionId)"
              ng-class="{ 'active': $root.Forms.selectedFormId == form.payload.submissionId }"
              ng-if="$root.Data.forms.byEvaluateeByStatus[ $root.Forms.selectedUserEmail ].submitted && $root.Data.forms.byEvaluateeByStatus[ $root.Forms.selectedUserEmail ].submitted.length > 0"
              )
              i.material-icons.selected fiber_manual_record
              md-list-item-text
                .form-info
                  span(ng-bind-html="::$root.locale.global.inReview | trust")
                  //- In Review
                  span &nbsp;{{ form.payload.createdOn | tsFormat }}
                .evaluator
                  span(ng-bind-html="::$root.locale.components.fcr.common.evaluatedBy | trust")
                  //- Evaluated by
                  span &nbsp;{{ form.payload.evaluator.name }}
              i.material-icons.md-secondary open_in_new
              md-divider
            md-list-item(
              ng-repeat="form in $root.Data.forms.byEvaluateeByStatus[ $root.Forms.selectedUserEmail ].completed | orderBy: '-payload.timestamp'"
              ng-click="$root.Forms.openForm(form.payload.evaluatee.id, form.payload.submissionId)"
              ng-class="{ 'active': $root.Forms.selectedFormId == form.payload.submissionId }"
              ng-if="$root.Data.forms.byEvaluateeByStatus[ $root.Forms.selectedUserEmail ].completed && $root.Data.forms.byEvaluateeByStatus[ $root.Forms.selectedUserEmail ].completed.length > 0"
              )
              i.material-icons.selected fiber_manual_record
              md-list-item-text
                .form-info
                  span(ng-bind-html="::$root.locale.components.fcr.common.completed | trust")
                  //- Completed
                  span &nbsp;{{ form.payload.timestamp | tsFormat }}
                .evaluator
                  span(ng-bind-html="::$root.locale.components.fcr.common.evaluatedBy | trust")
                  //- Evaluated by
                  span &nbsp;{{ form.payload.evaluator.name }}
              i.material-icons.md-secondary open_in_new
              md-divider

      .cover(ng-click="$root.Forms.close()" ng-class="{ 'show': $root.Forms.formListOpen }" )
